<h3>
    My Activity
</h3>

<div class="row" ng-controller="allMyIssuesController">

    <span style="padding-left: 20px;padding-bottom: 5px;font-size: 18px" >
        <b>Issues assigned to Me:</b>
    </span>

    <div class="col-lg-12">
        <div ng-repeat="issue in issue_list" class="well" >
            <h3>{{issue.id}} {{issue.name}}</h3>
            <span style="font-size: 14px;font-style: italic;" >{{issue.description}}</span><br/><br/>
            Tags:
            <span style="font-size: 18px;font-weight: bold;color:#243948;border: solid 1px #efefef;text-align: center;padding: 3px"
                  ng-repeat="tag in issue.tags track by $index">
                {{tag}}&nbsp;&nbsp;
            </span>
            <br/>
            <span class="text-muted pull-right" >
                Issue created at <b>{{issue.created_at|date:'medium'}}; Created by {{issue.creator_id}}</b>
            </span>
            <br/><br/>
            <span class="pull-right" style="font-size: 18px">
                <a ui-sref="app.view_comments( { issue_id: {{issue.id}}, project_id: {{issue.project_id}} } )" >
                    <b>View Comments <span class="fa fa-arrow-right"></span></b>
                </a>
            </span>
            <br/>
            <span style="font-weight: bolder;color: #454677;font-size: 16px">Upvotes: {{issue.upvotes}}</span>
            <br/><br/>
            <span ng-if="issue.duplicate" style="color: #a94442" >&nbsp;&nbsp;&nbsp;Marked as Duplicate</span>
            <span ng-if="!issue.duplicate" style="color: #a94442" >&nbsp;&nbsp;&nbsp;No One Marked it as Duplicate till now</span>
            <br/>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="col-lg-4" style="padding-top: 18px" >
            {{error}}
        </div>
        <div class="col-lg-6"></div>
    </div>

</div>

