<h3>
    Create New Project
</h3>

<div ng-controller="createNewProjectController" class="container-fluid">

    <div class="panel-body" style="text-align: center;">
        <div class="form-horizontal" style="border:1px solid #ddd;padding:10px;margin-bottom: 10px;">
            <form class="form-horizontal" name="createProjectForm" ng-submit="createNewProject()" ng-if="!Guest" >

                <div class="form-group">
                    <label class="control-label col-lg-2">Project Name *</label>

                    <div class="col-lg-10">
                        <input class="form-control" type="text" ng-model="project.name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-lg-2">Project Description *</label>

                    <div class="col-lg-10">
                        <textarea class="form-control" type="text" ng-model="project.description" required ></textarea>
                    </div>
                </div>

                <div class="form-group">

                    <label class="col-sm-2 control-label">Invite Members</label>
                    <div class="col-sm-10">
                        <tags-input ng-model="project.write_members"></tags-input>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2">Public/Private</label>

                    <div ng-init="project.access_level=1"  class="col-lg-10">
                        <select ng-model="project.access_level" style="width: 30%" required>
                            <option value="1" >Private</option>
                            <option value="2" >Public</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-lg-2"></label>

                    <div class="col-lg-10" style="text-align: center">
                        <input type="submit" class="btn btn-info" style="background-color: yellowgreen"  ng-disabled="!createProjectForm.$valid">
                    </div>
                </div>
                <div style="text-align: center;color: red">
                    <p>{{error}}</p>
                </div>
            </form>
            <div ng-if="Guest">
                You need to Log In to Create a Project.
            </div>
        </div>

    </div>
</div>