<h3>
    Dashboard
    <small>My Projects</small>
</h3>

<div class="row" ng-controller="DashboardController">
    <div class="col-lg-12">
        <div ng-repeat="project in project_list" class="well" >
            <h3>{{project.id}} {{project.name}}</h3>
            <h4>{{project.description}}</h4>
            <span class=" pull-left" >
                Public/Private:
                <b ng-if="project.public_or_private==2">Public</b>
                <b ng-if="project.public_or_private==1">Private</b>
                <b ng-if="project.access_level==2">Public</b>
            </span>
            <span class=" pull-right" >
                Creator Id: {{project.creator_id}}
            </span>
            <br/>
            <span class="text-muted pull-left" >
                Access Level:
                <b ng-if="project.access_level==10">Admin</b>
                <b ng-if="project.access_level==5">Member</b>
                <b ng-if="project.access_level==0">Invited</b>
                <b ng-if="project.access_level==2">View Only</b>
            </span>
            <span class="text-muted pull-right" >
                Last updated at <b>{{project.updated_at|date:'medium'}}</b>
            </span>
            <br/>
            <span class="pull-right" style="font-size: 18px">
                <a ui-sref="app.view_issues({project_id:{{project.id}}})" >
                    <b>Issues <span class="fa fa-arrow-right"></span></b>
                </a>
            </span>
            <br/>
        </div>
    </div>
</div>

