<h3>
    Issues
</h3>

<div class="row" ng-controller="projectIssuesController">

    <span style="padding-left: 20px;padding-bottom: 5px;font-size: 18px" >
        <b>Project:</b>
        {{$scope.project_name}}
    </span>

    <div class="col-lg-12">
        <div ng-repeat="issue in issue_list" class="well" >
            <div>
                <button  class="btn btn-danger" ng-if="issue.closed" >Issue has been closed</button>
                <button  class="btn btn-default" ng-if="!issue.closed" >Issue Live</button>
            </div>
            <h3>{{issue.id}} {{issue.name}}</h3>
            <span style="font-size: 14px;font-style: italic;" >{{issue.description}}</span><br/><br/>
            Tags:
            <span style="font-size: 18px;font-weight: bold;color:#243948;border: solid 1px #efefef;text-align: center;padding: 3px"
                    ng-repeat="tag in issue.tags track by $index">
                {{tag}}&nbsp;&nbsp;
            </span>
            <br/>
            <span class="text-muted pull-right" >
                Issue created at <b>{{issue.created_at|date:'medium'}}; Created by {{issue.creator_id}}</b>
            </span>
            <br/><br/>
            <span class="pull-right" style="font-size: 18px">
                <a ui-sref="app.view_comments( { issue_id: {{issue.id}}, project_id: {{project_id}} } )" >
                    <b>View Comments <span class="fa fa-arrow-right"></span></b>
                </a>
            </span>
            <br/>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="col-lg-4" style="padding-top: 18px" >
            {{error}}
        </div>
        <div class="col-lg-6"></div>
        <div class="col-lg-2" ng-if="!Guest" >
            <button class="btn btn-block mt-lg bg-success-light" ng-click="createNewIssueDialog()" >Create a New Issue</button>
        </div>
    </div>

    <script type="text/ng-template" id="createNewIssueId" >
        <div class="row">

            <div class="col-lg-12 col-custom1">
                <form name="newIssueForm" method="POST" ng-submit="createIssue()"
                      class="form-horizontal">
                    <div class="col-lg-12"><h3>Create a New Issue</h3>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control"  placeholder="Name" ng-model="newIssue.name" required>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea type="text" class="form-control" placeholder="Description" ng-model="newIssue.description" required>
                            </textarea>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Tags</label>
                            <tags-input ng-model="newIssue.tags"></tags-input>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" ng-disabled="!newIssueForm.$valid" >Submit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </script>

</div>

