<div class="row" ng-controller="issueCommentsController">

    <div class="col-lg-12">
        <div class="well" >
            <div ng-if="!Guest">
                <button class="btn btn-success" ng-if="!issue.closed" ng-click="close_issue(issue.id,issue.creator_id)" >Close the Issue?</button>
                <button  class="btn btn-primary" ng-if="issue.closed" >Issue has been closed</button>
            </div>

            <h3>{{issue.id}} {{issue.name}}</h3>
            <span style="font-size: 13px;font-style: italic;" >{{issue.description}}</span><br/><br/>
            Tags:
            <span style="font-size: 16px;font-weight: bold;color:#243948;border: solid 1px #efefef;text-align: center;padding: 3px"
                  ng-repeat="tag in issue.tags track by $index ">
                {{tag}}&nbsp;&nbsp;
            </span><br/><br/>
            <button class="btn btn-group btn-group-justified pull-left" ng-click="upvoted(issue.upvotes+1,issue.id)" ng-if="!Guest" style="width:12%" >Upvote</button>&nbsp;&nbsp; <span style="font-weight: bolder;color: #454677;font-size: 16px">Upvotes: {{issue.upvotes}}</span>
            <br/><br/>
            <button class="btn btn-group btn-danger" ng-click="duplicate(issue.id)" ng-if="!Guest" style="width:3%;height:20px">
            </button>
            <span ng-if="issue.duplicate">&nbsp;&nbsp;&nbsp;Marked as Duplicate</span>
            <span ng-if="!issue.duplicate">&nbsp;&nbsp;Mark as Duplicate</span>
            <span class="text-muted pull-right" >
                Issue created at <b>{{issue.created_at | date:'medium'}} by {{issue.creator_id}}</b>
            </span>
            <br/>
            <br/>
            <div ng-if="!Guest" >
                <form role="form" ng-if="!issue.assigned_to">
                    <label>Assign this issue to User with Id: </label>
                    <select ng-options="member.user_id for member in members_of_project" ng-model="assign_this"></select>
                    &nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" ng-click="assign_to(issue.id,assign_this)" >Submit</button>
                </form>
                <span ng-if="issue.assigned_to" style="color: #a94442" >The issue has been assigned to User with ID: <b>{{issue.assigned_to}}</b> </span>
            </div>

        </div>
    </div>

    <span style="padding-left: 20px;padding-bottom: 5px;font-size: 18px">
        <b>Comments:</b>
    </span>

    <div class="col-lg-12">

        <div class="col-lg-4" style="padding-top: 18px" >
            {{error}}
        </div>
        <div class="col-lg-6"></div>

        <div class="col-lg-12" ng-if="!Guest" >
            <hr/>
            <h4 style="color: #d9534f" >@{{newComment.creator_id}} </h4>
            <span style="font-size: 14px;font-style: italic;padding-left: 30px" >
                <textarea ng-model="newComment.description" rows="4" cols="100" placeholder="Add your comment here"></textarea>
            </span>
            <br/>
            <div class="col-lg-2 col-sm-4 col-md-4" style="padding-left: 30px">
                <span class="btn btn-block mt-lg bg-gray-dark" ng-click="createComment()" >Add Comment</span>
            </div><hr/><br/>
        </div>
        <div ng-if="Guest" style="font-weight: bolder;">
            You need to Log In to Comment.
        </div>
        <div ng-repeat="comment in comment_list| orderBy:'-created_at':reverse">
            <hr>
            <h3 style="color: #27c24c" >@{{comment.creator_id}} </h3>
            <span style="font-size: 16px;font-style: normal;padding-left: 40px" >{{comment.description}}</span><br/>
            <span class="text-muted pull-right" >
                <b>{{ comment.created_at | date:'medium' }}</b>
            </span>
            <br/>
        </div>
    </div>



</div>

