<!DOCTYPE html>
<html lang="en" data-ng-app="myAppName">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="app/img/logo-small.png"/>
    <meta name="description" content="{{app.description}}">
   <title data-ng-bind="pageTitle()">Web Issue Tracker</title>
   <link rel="stylesheet" href="app/css/app.css">
   <link rel="stylesheet" href="app/css/custom-style.css">
   <link rel="stylesheet" href="vendor/ng-tags-input/ng-tags-input.min.css">

</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat}">

    <div data-ui-view="" data-autoscroll="false" class="wrapper"></div>

   <script src="app/js/base.js"></script>

   <script src="app/js/app.js"></script>
   <script src="app/js/myApp.js"></script>

   <script src="vendor/ng-tags-input/ng-tags-input.min.js"></script>
   <script src="app/js/controllers/login-ctrl.js"></script>
   <script src="app/js/controllers/register-ctrl.js"></script>
   <script src="app/js/controllers/dashboard-ctrl.js"></script>
   <script src="app/js/controllers/create_project.js"></script>
   <script src="app/js/controllers/view_issues.js"></script>
   <script src="app/js/controllers/view_comments.js"></script>
   <script src="app/js/controllers/all_activity.js"></script>

</body>

</html>