<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
         <!-- START navbar header-->
   <div class="navbar-header">
      <a class="navbar-brand">
         <div class="brand-logo">
            <img src="app/img/logo.png" alt="App Logo" class="img-responsive img-logo" />
         </div>
         <div class="brand-logo-collapsed">
            <img src="app/img/logo-small.png" alt="App Logo" class="img-responsive" />
         </div>
      </a>
   </div>

   <div class="nav-wrapper">
      <ul class="nav navbar-nav">
         <li>
            <a  ng-click="app.layout.isCollapsed = !app.layout.isCollapsed" class="hidden-xs">
               <em class="fa fa-navicon"></em>
            </a>
            <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
            <a  toggle-state="aside-toggled" no-persist="no-persist" class="visible-xs sidebar-toggle">
               <em class="fa fa-navicon"></em>
            </a>
         </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

         <li style="padding-top: 17px;" title="Welcome" >
           Welcome {{user.name}}
         </li>
          <li>
              <a title="Logout" ng-controller="LoginController" ng-click="logout()">
                 Logout <em class="icon-logout"></em>
              </a>
          </li>

      </ul>

   </div>
</nav>
