<div ng-controller="RegisterFormController" class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">

       <div class="panel-heading text-center">
           <p class="text-center pv">SIGN UP TO GET INSTANT ACCESS.</p>
       </div>
      <div class="panel-body">
         <form role="form" validate-form="" novalidate="" ng-submit="register()">
            <div class="form-group has-feedback">
               <label class="text-muted">Email address</label>
               <input  type="email" placeholder="Enter email" autocomplete="off" ng-model="account.email" required class="form-control" />
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
            </div>
            <div class="form-group has-feedback">
               <label for="signupInputPassword1" class="text-muted">Password</label>
               <input id="signupInputPassword1" type="password" placeholder="Password" autocomplete="off" ng-model="account.password" required class="form-control" />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
            </div>
            <div class="form-group has-feedback">
               <label  class="text-muted">Retype Password</label>
               <input  type="password" placeholder="Confirm Password" autocomplete="off" ng-model="account.password2" required data-parsley-equalto="#signupInputPassword1" class="form-control"
               />
               <span class="fa fa-lock form-control-feedback text-muted"></span>
            </div>
            <button type="submit" class="btn btn-block btn-primary">Create account</button>
         </form>
         <div ng-show="authMsg" class="alert alert-danger text-center">{{authMsg}}</div>
         <p class="pt-lg text-center">Have an account?</p><a ui-sref="page.login" class="btn btn-block btn-default">Login</a>
      </div>
   </div>
   <!-- END panel-->
</div>